/*--------------------- General ---------------------*/
body, p, legend, label, input {
	font: normal 12pt verdana, helvetica, sans-serif;
}

a {
	font: 12pt verdana, helvetica, sans-serif;
	color: #00b;
	text-decoration: none;
}

a:hover {
	color: #fb0;
	font-weight: bold;
}

h1 {
	font: 18pt verdana, helvetica, sans-serif;
	color: #0d4;
	margin-left: 300px;
	text-align: left;
	text-decoration: none;
}

#mainContent {
	margin: 0px auto 0px auto;
	width: 800px;
	height: 400px;
	border: 0px;	
}

span#jellyText {
	font: 14pt vivaldi, verdana, helvetica, sans-serif;
	color: #fff;
	background-color: #000;
	padding: 3px 3px 3px 3px;
}

span#resource {
	font: normal 12pt verdana, helvetica;
	font-weight: normal;
}

div.urlBlock {
	border: 3px solid black;	
	border-radius: 15px;
	background-color: #7af;//#3f3;
	color: #000;
	font: normal 12pt verdana, helvetica;
	font-weight: bold;
	text-align: center;
	display: table-cell;
	margin: 0px auto 0px auto;
	vertical-align: middle;
}

#testApiURL  {
	width: 700px;
	height: 70px;
}

#addGemURL {
	width: 700px;
	height: 70px;
}

#inlineGemSpecies, #inlineGemColor {

}

.api {
	font: 12pt Verdana, Helvetica;
	font-weight: bold;
	color: #000;
}
/*
#submitAddGem {
	width: 120px;
	height: 30px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #ff0;
	color: #7af;
	text-align: center;
	cursor: pointer;
}*/